.hotels-page .header {
  background: url("https://images.unsplash.com/photo-1575310452551-5af1ad4a6dd5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fA%3D%3D&auto=format&fit=crop&w=2600&q=60");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

.hotels-page .header-title {
  font-size: 48px;
  font-weight: 600;
  min-width: 37%;
  max-width: 53%;
  margin: auto;
  padding-top: 30px;
}

.hotels-page .search-bar {
  width: calc(80% + 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-top: 100px;
}

.hotels-page .search-bar .search {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: azure;
  padding: 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 160px;
  height: 45px;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  cursor: pointer;
}

.hotels-page .hotels-Title {
  font-size: 40px;
  font-weight: 600;
  margin-left: 30px;
}

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  border: 1px solid #4444444a;
  -webkit-transition: .1s;
  transition: .1s;
}

.hotel-card .hotel-info {
  width: 100%;
  margin: 0px 10px;
}

.hotel-card .hotel-info .hotel-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.875rem;
  font-weight: 600;
}

.hotel-card .hotel-info .hotel-title .hotel-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: blue;
  margin-left: 20px;
}

.hotel-card .hotel-info .hotel-price-and-bth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hotel-card .hotel-info .hotel-price-and-bth .hotel-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: green;
}

.hotel-card .hotel-info .hotel-price-and-bth .hotel-bth {
  cursor: pointer;
  background-color: green;
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  margin: 5px 30px;
}
/*# sourceMappingURL=hotels.css.map */